.abouticon{
    background-color: #f5f7f9;  
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    img{
        width: 20%;
    }
    p{
        padding-top: 20px;
        font-size: 1.3rem;
        font-weight: 640;
    }
    span{
        font-weight: 490;
        font-size: 1.1rem;
    }
}