.product{
    margin-top: 100px;
    background-color: #f5f7f9;
  .producthead{
    padding-top: 50px;
    text-align: center;
    h3{
      font-size: 2.5rem;
    }
    hr{
        margin: 0 auto;
        width: 10%;
        color: #0084d6;
    }
    .grid-container {
      margin-top: 40px;
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      padding: 10px;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
      img{
        width: 100%;
      }
    }
  }
}