.login{
    background-color: #f0f0f1;
    text-align: center;
    padding-bottom: 200px;
    img{
        width: 120px;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    a{
        color: rgba(0, 0, 0, 0.685);
        text-decoration: none;
        margin-right: 200px;
    }
    .container{
        text-align: start;
        width: 400px;
        border: 1px solid #c3c4c7;
        height: 300px;
        background-color: #fff;
        label{
            margin-left: 20px;
            padding-top: 30px;
        }
        input{
            margin-left: 20px;
            padding: 8px;
            border-radius: 5px;
            width: 90%;
        }
        .loginbtn{
            padding-top: 20px;
            padding-right: 20px;
            float: right;
            button{
                background-color: #2271b1;
                border: 1px solid #2271b1;
                color: #fff;
                padding: 9px;
                width: 100px;
                border-radius: 5px;
            }
        }
    }
}