.aboutwe{
    background-color: #f5f7f9;
    padding-top: 80px;
    padding-bottom: 80px;
    img{
        width: 102%;
    }
   .container{
        background-color: #fff;
   }
  .leftside{
    padding-top: 20px;
    padding-left: 50px;
    hr{
        width: 20%;
        color: blue;
    }
    h2{
        font-weight: 650;
        font-size: 3rem;
    }
    p{
        padding-top: 30px;
        font-size: 1.2rem;
    }
  }
}